@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: white;
    list-style: none;
}

body{
    background-color: #232323; 
    overflow-x: hidden;
}

.header{
    height: 100vh;
    width: 100%;
}

.navbar{
    padding: 15px 18px;
    /* background: linear-gradient(to right, rgba(232, 85, 119, 0.29), rgb(200, 119, 105)); */
    background-color: #232323;
}

.logo{
    color: #FF7420;
    font-weight: 700;   
}

.btn-navbar{
    display: inline-block;
    padding: 10px 43px;
    border: 1px solid rgb(217, 223, 225);
    color: #ffffff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color:#FF7420;
    /* background: linear-gradient(112.1deg, rgb(78, 85, 121) 11.4%, rgb(6, 6, 6) 70.2%); */
}
.nav-item{
    margin: 0px 10px;
}
.nav-item .nav-link{
    color: white;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}
.content-home2{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: #FF7420;
    /* background: linear-gradient(to right, rgba(233, 9, 61, 0.29), rgb(200, 119, 105)); */
    width: 0px;
    height: 3px;
    transition: 0.4s ease-in-out;
}

.nav-item:hover .nav-link::after{
    width: 100%;
}

.nav-link:hover{
    /* color: rgb(81, 21, 21); */
    color: #FF7420;
}
.home-heading{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.home-para{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255,0.42);
    margin: 14px 0px;
}
.home-link{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    margin: 20px 0px;
    margin-right: 7px;
    border-radius: 50px;
    padding: 13px 37px;

}

.home-span{
    color: #FF7420;
    
}

.btn-home:hover{
    color: #232323;
}

.btn-2{
    background-color: #ffffff;
    border: 1px solid black;
    color: #232323;
    font-weight: 700;
}

.btn-1{
    /* background: linear-gradient(to right, rgba(232, 85, 119, 0.29), rgb(200, 119, 105)); */
    background-color: #FF7420;
    border: 1px solid black;
}

.btn-2:hover{
    /* background: linear-gradient(to right, rgba(232, 85, 119, 0.29), rgb(200, 119, 105)); */
    background-color: #c47a7a;
    transition: 0.4s;

}

.about-us-container{
    height: 80vh;
    width: 100%;
}

.about-us{
    width: 100%;
    height: 320px;
    background-color: rgb(54, 54, 54);
    margin-top: 40px;
    position: relative;
}

.about-content{
    padding: 10px 38px;
}

.content-about{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 179, 57);
    margin: 10px 0px;
    margin-bottom: 34px;
     position: relative; /* Need To be checked  */
}

.content-about::after{
    contain: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    color: rgb(139, 98, 32);
    width: 46px;
    height: 2px;
}  Need to be cheked

.para-about{
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.695);
    line-height: 21px;
    margin: 25px 0px;
}

.link-about{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgb(232, 122, 122);
    color: antiquewhite;
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    padding: 8px 22px;
    position: relative;
    z-index: 22;
}

.span-about{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c47a7a;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.4s ease-in;
}

.link-about:hover{
    color: white;
}

.link-about:hover .span-about{
    width: 100%;
}

.fa-arrow-right{
    color:  rgb(232, 122, 122);
    font-size: 11px;
    margin-left: 5px;
}

.fa-arrow-right:hover{
    color: white;
}

.img-about{
    height: 350px;
    width: 50%;
    position: absolute;
    bottom: -180px;
    right: 20px;
    /* border-radius: 50px; */
}

.product-category {
    width: 100%;
    background-color: #ec630ddc;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.heading-product{
    font-size: 34px;
    color: #000000;
    margin-bottom: 50px;
    position: relative;
}

.heading-product::after{
    content: '';
    position:absolute;
    left: 0px;
    bottom: -8px;
    background-color: rgb(234, 229, 226);
    width: 56px;
    height: 2px;
}

.card{
    background: linear-gradient(to right, rgba(232, 85, 119, 0.29), rgba(200, 119, 105, 0.276));
    color:  rgb(40, 36, 36);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-title{
    color: #272020;
    font-weight: 700;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn-card{
    text-align: center;
    background-color: #272020;
    width: 50%;
    color: white;
}
.btn-card:hover{
    background-color: rgb(232, 122, 122);
}
.card-text{
    color:rgba(255, 255, 255, 0.873);
    font-size: 12px;
    line-height: 22px;
}

.testimonial{
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin-top: 60px;

}

.heading-testimonial{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.884);
    margin-bottom: 35px;
}

.heading-testimonial .styling{
    color: rgb(255, 129, 57);
}

.para-testimonial{
        color: rgba(255, 255, 255, 0.856);
        font-size: 15px;
        letter-spacing: 1px;
        text-align: center;
        max-width: 760px;
        margin: 12px auto;
        line-height: 25px;

}

.container-client{
    margin: 100px 0px 20px 0px;
}

.container-content{
    width: 50%;
    height: 350px;
    background: linear-gradient(to right, #43403f, #FF7420);
    margin: auto;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: 0.2s ease-in-out;
}

.container-content:hover{
    transform: translateY(-14px);
}

.img-client{
    position: absolute;
    top: -62px;
    left: -62px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.img-clients{
    width: 100%;
    height: 100%;
}

.rating{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 12px 0px;
}

.rating .stars{
    font-size: 14px;
    margin: 0px 2px;
}

.client-name{
    font-size: 14px;
    margin-top: 10px;
    color: white;
    text-align: center;

}

.para-client{
    color: rgba(255, 255, 255, 0.877);
    font-style: italic;
    font-weight: 200;
    line-height: 24px;
    margin: 26px 0px 15px 0px;
    text-align: center;
}

.profession-client{
    color: white;
    font-weight: 200;
    font-size: 14px;
    margin-top: 28px;
}

.contact-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 190px;
    flex-direction: column;
}

.contact-heading{
    text-align: center;
    margin-bottom: 70px;
}

.form-orgin{
    width: 100%;
    height: 480px;
    background-color: rgb(42, 42, 41);
    padding: 50px 30px;
    border-radius: 8px;

}

.form-orgin input{
    color: #777;
    font-size: 14px;
    border: 1px solid #e4e3e3;
    border-radius: 5px;
    outline: none;
    padding: 16px 22px;
}

::placeholder{
    color: rgb(255, 0, 0);
}
.form-orgin textarea{
    height: 100px;
    padding: 20px;
    font-size: 14px;
    /* background-color: transparent; */
}

.contact-section{
    background-color: #5f5b5a;
}

.btn-contact{
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    padding: 15px 25px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: #c47a7a;
}
.contact-heading{
    color: #ededed;
    font-weight: 600;
}

@media (max-width:992px){
    .nav-item .nav-link{
        color: black;
        font-size: 17px;
        font-weight: 600;
    }
    .form-orgin{
        height: auto;
    }

    .navbar-nav{
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .navbar-nav .nav-item{
        margin: 8px 0px;
    }

    .image-home{
        width: 320px;
        height: 300px;
        margin-right: 0px;
    }

    .home-heading{
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }

    .box-container2{
        padding-left: 90px;
    }
    .btn-2{
        margin-top: 0px;
    }

    .img-about{
        height: 80%;
        width: 100%;
        position: static;
        top: 0px;
        right:0px;
        border-radius: 0%;

    }

    .about-us{
     
        margin-top: 0px;
    }

    .about-us-container{
        height: 80vh;
        margin-top: 100px;
    }

    .product-category {
        width: 100%;
        height: auto;
        margin-top: 50px;
        
    }

    .fss-9{
        font-size: 2px;
    }

    .heading-product{
        margin-top: 180px;
        margin-bottom: 70px;

    }
    
    .container-content{
        width: 80%;
        height: 300px;
    }
    
    .testimonial{
        width: 100%;
        height: auto;
        margin-bottom: 16rem;
    
    }

    .card{
        margin-top: 30px;
    }

@media (max-width:776px) {
    .content-home2{
        height: auto;
    }
    /* .box-container2{
        display: flex;
        justify-content: center;
        
    } */
    .image-home{
        width: 500px;
        margin-top:50px;

    }

    .about-us-container{
        margin-top: 1500px;
    }
}
.dropdown{
    width: 100%;
}
}